body[b-kwiaupe1ef] {
}
input[b-kwiaupe1ef] {
    width: 100%;
}
.btn[b-kwiaupe1ef] {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}